@if (FormolSwitches.Any())
{
    <div class="row mt-3 text-end">

      <div class="col-12">

        @foreach (var item in FormolSwitches)
        {
            <Button Type="ButtonType.Button" @onclick="()=> AddToFormolSwitchViewModel(item)" Color="ButtonColor.Success"
                    Position="Position.Relative" Class="me-2 mb-1" Outline="@(item.Checked?false:true)">

                    @item.Formol.HajmFormol حجم
                    ,
                    @item.Formol.TimeFormol ثانیه
                    ,
                    @item.Formol.MultiStage  مرحله ای
                    ,
                    @(item.Formol.CalculationPrice ? " با قیمت" : "بدون قیمت")

                @if (item.Checked)
                {
                    <Badge Color="BadgeColor.Danger"
                           Position="Position.Absolute"
                           Placement="BadgePlacement.TopRight"
                           IndicatorType="BadgeIndicatorType.RoundedPill"
                           VisuallyHiddenText="unread messages">
                        @item.Counter
                    </Badge>
                }

            </Button>
        }
        </div>

  </div>

}