@page "/Formols"
@page "/Formols/{insCode}/{nomadDate:int}/{NomadName}"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>
    فرمول های نماد
</PageTitle>

<div class="row">

    <div class="col-6">
        <h4>
            فرمول های نماد
        </h4>
    </div>

    @{
        var validation = !string.IsNullOrEmpty(InsCode) &&
                         !string.IsNullOrEmpty(NomadName) &&
                         NomadDate != 0;
    }

    @if (validation)
    {
        <div class="col-6" style="text-align:end">
            <Button Outline="true" Color="ButtonColor.Primary" @onclick=" ()=> GoBackNomadDate()">
                <Icon Name="IconName.ArrowLeftSquare" />
            </Button>
        </div>
    }

</div>

@if (IsLoad)
{
    <div class="text-center loader">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}

<EditForm Model="Model" OnValidSubmit="SaveFormol" FormName="formols">
    <div class="row mt-2">

        <div class="col-md-3 col-6">
            <label class="form-label">نماد</label>
            <SearchNomad EventCallbackInstrumentSearch="GetEventCallbackInstrumentSearch" />
        </div>

        <div class="col-md-2 col-6">
            <label class="form-label">زمان</label>
            <InputNumber class="form-control" placeholder="زمان بر اساس ثانیه " @bind-Value="Model!.TimeFormol" />
        </div>

        <div class="col-md-2 col-6">
            <label class="form-label">حجم</label>
            <InputNumber class="form-control" placeholder="حجم " @bind-Value="Model!.HajmFormol" />
        </div>

        <div class="col-md-2 col-6">
            <label class="form-label">چند مرحله ای</label>
            <InputNumber class="form-control" placeholder="مراحل " @bind-Value="Model!.MultiStage" />
        </div>

        <div class="col-md-2 col-6">
            <label class="form-label"> محاسبه با قیمت </label>
            <Switch @bind-Value="Model.CalculationPrice" Style="font-size: 28px;" />
        </div>

        <div class="col-md-1 col-6 mt-4">
            <Button Type="ButtonType.Submit" Color="ButtonColor.Success"> ذخیره  </Button>
        </div>

    </div>
</EditForm>


<Grid @ref="gridFormol"
      TItem="FormolViewModel"
      Data="formols"
      Class="table table-hover table-bordered table-striped mt-3"
      DataProvider="GetDataProvider"
      AllowFiltering="true"
      AllowSorting="true"
      Responsive="true"
      AllowPaging="false"
      EmptyText="اطلاعاتی وجود ندارد">


    <GridColumn TItem="FormolViewModel" HeaderText=" نماد" PropertyName="HajmName" SortKeySelector="item => item.NomadName">
        @context.NomadName
    </GridColumn>

    <GridColumn TItem="FormolViewModel" HeaderText="زمان و حجم" PropertyName="Formols">
        @foreach (var item in @context.Formols)
        {
            <Button Color="ButtonColor.Secondary" Class="me-2 mt-2" Outline="true">

                <Icon Name="IconName.TrashFill" @onclick="()=>DeleteHajm(item.Id)" />

                <Badge Color="BadgeColor.Primary" Class="p-2 " IndicatorType="BadgeIndicatorType.None">
                    حجم : @item.HajmFormol.ToString("#,0")
                </Badge>

                <Badge Color="BadgeColor.Danger" Class="p-2 " IndicatorType="BadgeIndicatorType.None">
                    زمان : @item.TimeFormol ثانیه
                </Badge>

                <Badge Color="BadgeColor.Secondary" Class="p-2 " IndicatorType="BadgeIndicatorType.None">
                    @item.MultiStage مرحله ای
                </Badge>

                <Badge Color="(item.CalculationPrice ?BadgeColor.Success: BadgeColor.Light)" Class="p-2 " IndicatorType="BadgeIndicatorType.None">
                    @(item.CalculationPrice ? " با قیمت" : "بدون قیمت")
                </Badge>

            </Button>
        }
    </GridColumn>

</Grid>