@page "/NomadAction/{insCode}/{nomadDate:int}/{NomadName}"
@page "/NomadAction"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>
    معاملات
    @Title
</PageTitle>

<div class="row">



    <div class="col-md-5 col-5">

        <AutoComplete @bind-Value="searchNomadName"
                      @ref="InstrumentSearchAuto"
                      TItem="InstrumentSearch"
                      DataProvider="GetNomadProvider"
                      PropertyName="lVal30"
                      Placeholder="نماد ....."
                      OnChanged="(InstrumentSearch instrumentSearch) => OnNomadAutoCompleteChanged(instrumentSearch)" />

    </div>

    <div class="col-md-5 col-5">

        @if (IsLoadSearchNomadDate)
        {
            <div class="text-center ">
                <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
            </div>
        }
        else
        {
            <AutoComplete @bind-Value="searchNomadDate"
                          @ref="DateAuto"
                          TItem="ClosingPriceDaily"
                          DataProvider="GetNomadDataProvider"
                          PropertyName="dEvenPersian"
                          Placeholder="تاریخ ....."
                          OnChanged="(ClosingPriceDaily closingPriceDaily) => OnNomadDateAutoCompleteChanged(closingPriceDaily)" />

        }

    </div>



    <div class="col-md-2" style="text-align:end">
        <Button Outline="true" Color="ButtonColor.Primary" @onclick=" ()=> GoBackNomadDate()"> <Icon Name="IconName.ArrowLeftSquare" />  </Button>
    </div>

</div>

@if (Hajms.Any())
{
    <div class="row mt-2 ">
        <div class="col-md-6 col-12">
            <label>
                حجم های فیلتر شده :
            </label>
            @foreach (var item in Hajms)
            {
                <Badge Color="BadgeColor.Danger" Class="me-2">
                    <Icon Name="IconName.Ticket"></Icon>
                    @item.HajmValue.ToString("#,0")
                </Badge>
            }
        </div>
        <div class="col-md-6 col-12" style="text-align:end;">
            @if (!string.IsNullOrEmpty(SumHajm))
            {
                <Badge Color="BadgeColor.Primary" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill">
                    حجم معاملات :     @SumHajm
                </Badge>
            }
            @if (!string.IsNullOrEmpty(SumCount))
            {
                <Badge Color="BadgeColor.Success" Class="me-2 p-2" IndicatorType="BadgeIndicatorType.RoundedPill">
                    تعداد معاملات :     @SumCount
                </Badge>
            }
        </div>
    </div>
}

@if (IsLoad)
{
    <div class="text-center loader">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}

<Grid @ref="grid"
      TItem="TradeHistory"
      Data="TradeHistories"
      Class="table table-hover table-bordered table-striped mt-3"
      DataProvider="GetDataProvider"
      AllowFiltering="true"
      AllowSorting="true"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true"
      AllowPaging="true"
      PageSize="10"
      PageSizeSelectorVisible
      PaginationItemsTextFormat="{0} - {1} از {2} ردیف"
      PageSizeSelectorItems="[10,20,30,100]"
      ItemsPerPageText="تعداد نمایش"
      EmptyText="اطلاعاتی وجود ندارد">


    <GridColumn TItem="TradeHistory" HeaderText="ردیف" PropertyName="nTran" SortKeySelector="item => item.nTran">
        @context.nTran
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText=" زمان" PropertyName="hEven" SortKeySelector="item => item.hEven">
        @context.hEven.ToTime()
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText="حجم" PropertyName="qTitTran" SortKeySelector="item => item.qTitTran">
        @context.qTitTran.ToString("#,0")
    </GridColumn>
    
    <GridColumn TItem="TradeHistory" HeaderText="قیمت" PropertyName="pTran" SortKeySelector="item => item.pTran">
        @context.pTran.ToString("#,0")
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText=" وضعیت" PropertyName="canceled" SortKeySelector="item => item.canceled">
        @(context.canceled == 0 ? "فعال" : "غیر فعال ")
    </GridColumn>

</Grid>



