@page "/NomadDates/{InsCode}"
@page "/NomadDates/{InsCode}/{NomadName}"

@rendermode InteractiveAuto
@attribute [Authorize]

<PageTitle>
    تاریخ های نماد
    @NomadName
</PageTitle>

<div class="row">
    <div class="col-6">
        <h4>
            @NomadName
        </h4>
    </div>
    <div class="col-6" style="text-align:end">
        <Button Outline="true" Color="ButtonColor.Primary" @onclick=" ()=> GoBackNomads()"> <Icon Name="IconName.ArrowLeftSquare" />  </Button>
    </div>
</div>

@if (IsLoad)
{
    <div class="text-center loader">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}

<Grid @ref="grid"
      TItem="ClosingPriceDaily"
      Data="closingPriceDailies"
      Class="table table-hover table-bordered table-striped mt-3"
      DataProvider="GetDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="10"
      AllowSorting="true"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true"
      PageSizeSelectorVisible
      PaginationItemsTextFormat="{0} - {1} از {2} ردیف"
      PageSizeSelectorItems="[10,20,30,100]"
      ItemsPerPageText="تعداد نمایش"
      EmptyText="اطلاعاتی وجود ندارد">

    <GridColumn TItem="ClosingPriceDaily" HeaderText="عملیات" PropertyName="Counter" Sortable="false" Filterable=false>
        @{
            var url = $"NomadAction/{context.insCode}/{context.dEven}/{NomadName}";
        }
        <Button class="btn btn-outline-danger" @onclick="()=>GoNomadAction(url)">
            <Icon Name="IconName.EyeFill"></Icon>
        </Button>

    </GridColumn>

    <GridColumn TItem="ClosingPriceDaily" HeaderText="ردیف" PropertyName="Counter" SortKeySelector="item => item.Counter">
        @context.Counter
    </GridColumn>

    <GridColumn TItem="ClosingPriceDaily" HeaderText=" تاریخ" PropertyName="dEven" SortKeySelector="item => item.dEven">
        @context.dEven.ToPersianDate()
    </GridColumn>

    <GridColumn TItem="ClosingPriceDaily" HeaderText="تعداد" PropertyName="zTotTran" SortKeySelector="item => item.zTotTran">
        @context.zTotTran
    </GridColumn>

    <GridColumn TItem="ClosingPriceDaily" HeaderText="حجم" PropertyName="qTotTran5J" SortKeySelector="item => item.qTotTran5J">
        @context.qTotTran5J
    </GridColumn>

    <GridColumn TItem="ClosingPriceDaily" HeaderText="ارزش" PropertyName="qTotCap" SortKeySelector="item => item.qTotCap">
        @context.qTotCap
    </GridColumn>

</Grid>



