@page "/NomadAction/{insCode}/{nomadDate:int}/{NomadName}"
@page "/NomadAction"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>
    معاملات
    @Title
</PageTitle>



<div class="row">
    <div class="col-6">
        <h3>
            معاملات
            @Title
        </h3>
    </div>
    <div class="col-6" style="text-align:end">
        <Button Outline="true" Color="ButtonColor.Primary" @onclick=" ()=> GoBackNomadDate()"> بازگشت </Button>
    </div>
</div>
@if (IsLoad)
{
    <div class="text-center loader">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}
<div class="row">

    <div class="col-6">

        <AutoComplete @bind-Value="searchNomadName"
                      @ref="InstrumentSearchAuto"
                      TItem="InstrumentSearch"
                      DataProvider="GetNomadProvider"
                      PropertyName="lVal30"
                      Placeholder="نماد ....."
                      OnChanged="(InstrumentSearch instrumentSearch) => OnNomadAutoCompleteChanged(instrumentSearch)" />

    </div>

    <div class="col-6">

        @if (IsLoadSearchNomadDate)
        {
            <div class="text-center ">
                <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
            </div>
        }
        else
        {
            <AutoComplete @bind-Value="searchNomadDate"
                          @ref="DateAuto"
                          TItem="ClosingPriceDaily"
                          DataProvider="GetNomadDataProvider"
                          PropertyName="dEvenPersian"
                          Placeholder="تاریخ ....."
                          OnChanged="(ClosingPriceDaily closingPriceDaily) => OnNomadDateAutoCompleteChanged(closingPriceDaily)" />

        }

    </div>

</div>

<Grid @ref="grid"
      TItem="TradeHistory"
      Data="TradeHistories"
      Class="table table-hover table-bordered table-striped mt-3"
      DataProvider="GetDataProvider"
      AllowFiltering="true"
      AllowPaging="true"
      PageSize="5"
      AllowSorting="true"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true">

    <GridColumn TItem="TradeHistory" HeaderText="ردیف" PropertyName="nTran" SortKeySelector="item => item.nTran">
        @context.nTran
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText=" زمان" PropertyName="hEven" SortKeySelector="item => item.hEven">
        @context.hEven.ToTime()
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText="حجم" PropertyName="qTitTran" SortKeySelector="item => item.qTitTran">
        @context.qTitTran.ToString("#,0")
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText="قیمت" PropertyName="pTran" SortKeySelector="item => item.pTran">
        @context.pTran.ToString("#,0")
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText="لغو شده" PropertyName="canceled" SortKeySelector="item => item.canceled">
        @(context.canceled == 0 ? "خیر" : "لغو شده")
    </GridColumn>

</Grid>
