@page "/NomadAction/{insCode}/{nomadDate:int}/{NomadName}"
@page "/NomadAction"
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>
    معاملات
    @Title
</PageTitle>

<div class="row">

    <!--نماد-->
    <div class="col-md-4">

        <AutoComplete @bind-Value="searchNomadName"
                      @ref="InstrumentSearchAuto"
                      TItem="InstrumentSearch"
                      DataProvider="GetNomadProvider"
                      PropertyName="lVal30"
                      Placeholder="نماد ....."
                      LoadingText="درحال لود..."
                      EmptyText="پیدا نشد."
                      OnChanged="(InstrumentSearch instrumentSearch) => OnNomadAutoCompleteChanged(instrumentSearch)" />

    </div>

    <!--تاریخ-->
    <div class="col-md-4">

        @if (IsLoadSearchNomadDate)
        {
            <div class="text-center ">
                <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
            </div>
        }
        else
        {
            <AutoComplete @bind-Value="searchNomadDate"
                          @ref="DateAuto"
                          TItem="ClosingPriceDaily"
                          DataProvider="GetNomadDataProvider"
                          PropertyName="dEvenPersian"
                          Placeholder="تاریخ ....."
                          LoadingText="درحال لود..."
                          EmptyText="پیدا نشد."
                          OnChanged="(ClosingPriceDaily closingPriceDaily) => OnNomadDateAutoCompleteChanged(closingPriceDaily)" />

        }

    </div>

    <div class="col-md-2">
        @if (!string.IsNullOrEmpty(SumHajm))
        {
            <Badge Color="BadgeColor.Primary" Class="p-2" IndicatorType="BadgeIndicatorType.RoundedPill" Style="font-size: 17px;">
                حجم معاملات :     @SumHajm
            </Badge>
        }
    </div>


    <!--بازگشت-->
    <div class="col-md-2" style="text-align:end">
        <Button Outline="true" Color="ButtonColor.Primary" @onclick=" ()=> GoBackNomadDate()"> <Icon Name="IconName.ArrowLeftSquare" />  </Button>
    </div>

    <div class="col-md-7 mt-2">     
            <InputTags Value="HajmsTags" Options="InputTagOptions" OnTagRemoved="DeleteHajm" OnTagAdded="SaveHajm" />   
     </div>

    <!--اعمال-->
    <div class="col-md-1 mt-2" style="text-align:end">
        <Button Outline="true" Color="ButtonColor.Primary" @onclick="DoFilterOnGrid"> <Icon Name="IconName.Search" />  </Button>
    </div>

    <div class="col-md-4 " >
        @if (!string.IsNullOrEmpty(SumCount))
        {
            <Badge Color="BadgeColor.Success" Class="me-2 p-2" IndicatorType="BadgeIndicatorType.RoundedPill" Style="font-size: 17px;">
                تعداد معاملات :     @SumCount
            </Badge>
        }
    </div>

</div>


@if (IsLoad)
{
    <div class="text-center loader">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}

<Grid @ref="grid"
      TItem="TradeHistory"
      Data="TradeHistories"
      Class="table table-hover table-bordered table-striped mt-3  "
      DataProvider="GetDataProvider"
      AllowFiltering="true"
      AllowSorting="true"
      AllowSelection="true"
      SelectionMode="GridSelectionMode.Multiple"
      SelectedItemsChanged="OnSelectedItemsChanged"
      Responsive="true"
      AllowPaging="true"
      PageSize="30"
      PageSizeSelectorVisible
      PaginationItemsTextFormat="{0} - {1} از {2} ردیف"
      PageSizeSelectorItems="[30,50,100]"
      ItemsPerPageText="تعداد نمایش"
      EmptyText="اطلاعاتی وجود ندارد"
      Style="zoom: 0.8;">


    <GridColumn TItem="TradeHistory" HeaderText="ردیف" PropertyName="nTran" SortKeySelector="item => item.nTran">
        @context.nTran
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText=" زمان" PropertyName="hEven" SortKeySelector="item => item.hEven">
        @context.hEven.ToTime()
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText="حجم" PropertyName="qTitTran" SortKeySelector="item => item.qTitTran">
        @context.qTitTran.ToString("#,0")
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText="قیمت" PropertyName="pTran" SortKeySelector="item => item.pTran">
        @context.pTran.ToString("#,0")
    </GridColumn>

    <GridColumn TItem="TradeHistory" HeaderText=" وضعیت" PropertyName="canceled" SortKeySelector="item => item.canceled">
        @(context.canceled == 0 ? "فعال" : "غیر فعال ")
    </GridColumn>

</Grid>



